@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1em;
  line-heigth: 1;
}

*::before, *::after {
  display: none;
  content: "";
}

html {
  width: 100%;
  background-size: 10px;
  background-color: silver;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .5) 30%, transparent 30%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .5) 30%, transparent 30%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, .5) 30%, transparent 30%);
}

body {
  margin-bottom: 3em;
}

body > h1,
body > section > h1,
fieldset > legend {
  display: none;
}

/* SECTION */
body > section {
  margin-bottom: 1em;
  padding-top: 2em;
}

figure {
  text-align: center;
}

figure > q {
  display: inline-block;
  max-width: 95%;
}

body > section.pinned figure > q::before,
body > section.reblogged figure > q::before {
  display: block;
  content: "";
  position: relative;
  top: 1em;
  width: 1em;
  height: 1em;
  margin-top: -1em;
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 0, .5) 50%, transparent 50%);
  background-image: -moz-linear-gradient(top left, rgba(255, 255, 0, .5) 50%, transparent 50%);
  background-image: -o-linear-gradient(top left, rgba(255, 255, 0, .5) 50%, transparent 50%);
  font-size: 3em;
}

figure > q img {
  max-width: 100%;
  min-width: 50px;
  min-height: 50px;
  box-shadow: .4em .4em .4em gray;
  border: thin solid gray;
  background-color: white;
}

figure figcaption {
  display: none;
}

/* MESSAGE */
#message {
  width: 95%;
  margin: 1em auto 1em;
  border: thin solid black;
  border-radius: .3em;
  background-color: white;
  font-size: 1.5em;
  text-indent: .5em;
}

#message a {
  display: block;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  text-align: center;
}

/* FIELDSET */
body > fieldset {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: thin solid gray;
  background-color: rgba(192, 192, 192, .6);
  font-size: 1.5em;
}

body > fieldset fieldset {
  margin: .15em;
}

body > fieldset fieldset input[type="text"] {
  display: block;
  width: 100%;
  border: thin solid black;
  border-radius: .15em;
  background-color: rgba(255, 255, 255, .6);
  color: gray;
  text-indent: .3em;
}

body > fieldset:hover input[type="text"],
body > fieldset input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
  color: black;
}

body > fieldset menu {
  display: none;
}
