@charset "utf-8";

*, * * {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

html {
  background-size: 10px 10px;
  background-color: silver;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .2) 50%, transparent 50%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .2) 50%, transparent 50%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, .2) 50%, transparent 50%);
}

body {
  margin: 0;
}

#elevator li {
  display: block;

  position: fixed;
  bottom: 0;

  width: 20%;
  height: 15%;
}

#elevator li:hover {
  opacity: .3;

  background-color: black;
}

#elevator li.prev { left: 0; }
#elevator li.next { right: 0; }

#elevator li a {
  display: block;

  width: 100%;
  height: 100%;

  text-indent: -100000px;
}

body > h1 {
  display: none;
}

body > h1 + fieldset {
  display: block;
  z-index: 11000;

  position: fixed;
  top: 0;
  right: 0;

  width: 100%;

  background-color: silver;

  text-align: center;
}

body > h1 + fieldset fieldset {
  border: none;
}

body > h1 + fieldset legend,
body > h1 + fieldset input[type="submit"] {
  display: none;
}

body > h1 + fieldset input[type="text"] {
  width: 95%;

  margin: .15em;
  padding-left: .3em;

  border: thin solid black;
  border-radius: .15em;

  font-size: 2em;
}

input.initial_value {
  color: gray;
}

#result {
  width: 100%;
}

#result > section {
  width: 100%;

  margin: 0;
  padding-top: 4em;
}

#result > section.pinned {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
  background-repeat: no-repeat;
  background-position: 0 4em;
}

#result > section h1 {
  display: none;
}

#result img {
  display: block;

  max-width: 90%;
  min-width: 50px;
  min-height: 50px;

  margin: 0 auto;

  border: thin solid gray;
  box-shadow: .4em .4em .4em gray;

  background-color: white;
}

#message {
  width: 95%;

  margin: 1em auto;
  padding: .3em;

  border: thin solid black;
  border-radius: .3em;

  background-color: white;

  font-size: 2em;
}

#message a {
  display: block;

  margin: 0;
  padding: 0;

  color: black;
  text-decoration: none;
  text-align: center;
}