    <fieldset>
      <legend><label for="tumblr_username">Form</label></legend>
      <form action="/_redirector" method="GET">
        <fieldset>
          <legend><label for="tumblr_username">Tumblr username</label></legend>
          <input type="text" value="<%= username %>" id="tumblr_username" name="tumblr_username" required="required" placeholder="press any tumblr username" pattern="^[\w\._]+$" />
        </fieldset>
        <menu type="toolbar">
          <li><button type="reset">reset</button></li>
          <li><button type="submit">submit</button></li>
        </menu>
      </form>
    </fieldset>
