    <footer>
<%- partial('fieldset') %>
      <nav>
        <ul>
<% if (session.user) { %>
          <li><a href="/_dashboard">Dashboard</a></li>
          <li><a href="/_settings">Settings</a></li>
          <li><a href="/_oauth/signout">Sign out</a></li>
<% } else { %>
          <li><a href="/_oauth/signin">Sign in</a></li>
<% } %>
        </ul>
      </nav>
    </footer>
